body{
    padding-left: 70px;
}

#commandPane{
    position:absolute;
    margin: 10px;
    margin-left: 0px;
}

#canvas{
    margin-top: 15px;
    float: left;
}

#log{
    height: 700px;
    width: 500px;
    white-space: nowrap;
    margin: 25px;
    padding: 15px;
    overflow:auto;
}

